In [1]:
people = {
    "first": ["Prashant", "Dilip", "Vivek"],
    "last": ["Singh", "Singh", "Kumar"],
    "email": ["pk.airsqn@gmail.com", "dilip.singh@gmail.com", "vivek.krypton@outlook.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

      first   last                      email
0  Prashant  Singh        pk.airsqn@gmail.com
1     Dilip  Singh      dilip.singh@gmail.com
2     Vivek  Kumar  vivek.krypton@outlook.com

In [5]:
df['last'] == 'Singh'

0     True
1     True
2    False
Name: last, dtype: bool

In [7]:
filt = (df['last'] == 'Singh')

In [ ]:
df[filt]

In [10]:
df.loc[filt, 'email']

0      pk.airsqn@gmail.com
1    dilip.singh@gmail.com
Name: email, dtype: object

# And

In [11]:
filt = (df['last'] == 'Singh') & (df['first'] == 'Dilip')

In [13]:
df.loc[filt, 'email']

1    dilip.singh@gmail.com
Name: email, dtype: object

# OR

In [14]:
filt = (df['last'] == 'Singh') | (df['first'] == 'Dilip')

In [15]:
df.loc[filt, 'email']

0      pk.airsqn@gmail.com
1    dilip.singh@gmail.com
Name: email, dtype: object

In [16]:
# prints not filter match
df.loc[~filt, 'email']

2    vivek.krypton@outlook.com
Name: email, dtype: object