In [1]:
people = {
    "first": ["Prashant", "Dilip", "Vivek", "Adam"],
    "last": ["Singh", "Singh", "Kumar","Doe"],
    "email": ["pk.airsqn@gmail.com", "dilip.singh@gmail.com", "vivek.krypton@outlook.com", "adam@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

      first   last                      email
0  Prashant  Singh        pk.airsqn@gmail.com
1     Dilip  Singh      dilip.singh@gmail.com
2     Vivek  Kumar  vivek.krypton@outlook.com
3      Adam    Doe             adam@gmail.com

In [5]:
df.sort_values(by='last', ascending=False)

      first   last                      email
0  Prashant  Singh        pk.airsqn@gmail.com
1     Dilip  Singh      dilip.singh@gmail.com
2     Vivek  Kumar  vivek.krypton@outlook.com
3      Adam    Doe             adam@gmail.com

In [8]:
df.sort_values(by=['last','first'], ascending=False)

      first   last                      email
0  Prashant  Singh        pk.airsqn@gmail.com
1     Dilip  Singh      dilip.singh@gmail.com
2     Vivek  Kumar  vivek.krypton@outlook.com
3      Adam    Doe             adam@gmail.com

In [11]:
# First in ASC and Last in DESC

df.sort_values(by=['last','first'], ascending=[False, True], inplace=True)

In [13]:
df.sort_index()

      first   last                      email
0  Prashant  Singh        pk.airsqn@gmail.com
1     Dilip  Singh      dilip.singh@gmail.com
2     Vivek  Kumar  vivek.krypton@outlook.com
3      Adam    Doe             adam@gmail.com

In [14]:
df['last'].sort_values()

3      Doe
2    Kumar
1    Singh
0    Singh
Name: last, dtype: object

In [15]:
df

      first   last                      email
1     Dilip  Singh      dilip.singh@gmail.com
0  Prashant  Singh        pk.airsqn@gmail.com
2     Vivek  Kumar  vivek.krypton@outlook.com
3      Adam    Doe             adam@gmail.com