In [1]:
people = {
    "first": ["Prashant", "Dilip", "Vivek"],
    "last": ["Singh", "Singh", "Kumar"],
    "email": ["pk.airsqn@gmail.com", "dilip.singh@gmail.com", "vivek.krypton@outlook.com"]
}

In [2]:
import pandas as pd
df = pd.DataFrame(people)

In [3]:
df

      first   last                      email
0  Prashant  Singh        pk.airsqn@gmail.com
1     Dilip  Singh      dilip.singh@gmail.com
2     Vivek  Kumar  vivek.krypton@outlook.com

In [4]:
df['first']+' ' + df['last']

0    Prashant Singh
1       Dilip Singh
2       Vivek Kumar
dtype: object

In [5]:
# Add column
df['full_name'] = df['first']+' ' + df['last']

In [6]:
df

      first   last                      email       full_name
0  Prashant  Singh        pk.airsqn@gmail.com  Prashant Singh
1     Dilip  Singh      dilip.singh@gmail.com     Dilip Singh
2     Vivek  Kumar  vivek.krypton@outlook.com     Vivek Kumar

In [11]:
# Drop Columns
df.drop(columns=['first','last'], inplace=True)

KeyError: "['first' 'last'] not found in axis"

## Split the columns

In [13]:

df['full_name'].str.split(' ', expand=True)

          0      1
0  Prashant  Singh
1     Dilip  Singh
2     Vivek  Kumar

In [14]:
df[['first','last']] = df['full_name'].str.split(' ', expand=True)

In [15]:
df

                       email       full_name     first   last
0        pk.airsqn@gmail.com  Prashant Singh  Prashant  Singh
1      dilip.singh@gmail.com     Dilip Singh     Dilip  Singh
2  vivek.krypton@outlook.com     Vivek Kumar     Vivek  Kumar

In [16]:
# Add single row
df.append({'first':'Tony'})

TypeError: Can only append a dict if ignore_index=True

In [18]:
# ignore index
df.append({'first':'Tony'}, ignore_index=True)

                       email       full_name     first   last
0        pk.airsqn@gmail.com  Prashant Singh  Prashant  Singh
1      dilip.singh@gmail.com     Dilip Singh     Dilip  Singh
2  vivek.krypton@outlook.com     Vivek Kumar     Vivek  Kumar
3                        NaN             NaN      Tony    NaN

# Two values

In [20]:
people = {
    "first": ["Tony", "Steve"],
    "last": ["Stark", "Rogers"],
    "email": ["ironman@gmail.com", "captainamerica@gmail.com"]
}

df2 = pd.DataFrame(people)

In [21]:
df2

   first    last                     email
0   Tony   Stark         ironman@gmail.com
1  Steve  Rogers  captainamerica@gmail.com

# Adding one DF to another DF

In [23]:
df.append(df2, ignore_index=True, sort=False)

                       email       full_name     first    last
0        pk.airsqn@gmail.com  Prashant Singh  Prashant   Singh
1      dilip.singh@gmail.com     Dilip Singh     Dilip   Singh
2  vivek.krypton@outlook.com     Vivek Kumar     Vivek   Kumar
3          ironman@gmail.com             NaN      Tony   Stark
4   captainamerica@gmail.com             NaN     Steve  Rogers

In [24]:
df = df.append(df2, ignore_index=True, sort=False)

In [25]:
df

                       email       full_name     first    last
0        pk.airsqn@gmail.com  Prashant Singh  Prashant   Singh
1      dilip.singh@gmail.com     Dilip Singh     Dilip   Singh
2  vivek.krypton@outlook.com     Vivek Kumar     Vivek   Kumar
3          ironman@gmail.com             NaN      Tony   Stark
4   captainamerica@gmail.com             NaN     Steve  Rogers

In [26]:
# Drop row
df.drop(index=4)

                       email       full_name     first   last
0        pk.airsqn@gmail.com  Prashant Singh  Prashant  Singh
1      dilip.singh@gmail.com     Dilip Singh     Dilip  Singh
2  vivek.krypton@outlook.com     Vivek Kumar     Vivek  Kumar
3          ironman@gmail.com             NaN      Tony  Stark

In [27]:
filt = df['last'] == 'Kumar'
df.drop(index=df[filt].index)

                      email       full_name     first    last
0       pk.airsqn@gmail.com  Prashant Singh  Prashant   Singh
1     dilip.singh@gmail.com     Dilip Singh     Dilip   Singh
3         ironman@gmail.com             NaN      Tony   Stark
4  captainamerica@gmail.com             NaN     Steve  Rogers